<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Cadastrar Novo Usuário</title>
</head>
<body>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">StockRoll</a>
  </div>
</nav>
<main class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1>Cadastrar Usuário</h1>
    </div>
  </div><!--row-->
  <div class="row">
    <div class="col-sm-6">
      <form method="post" th:object="${usuario}">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="nome" th:field="*{nome}"
                 placeholder="Digite o nome do usuário">
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha:</label>
          <input type="text" class="form-control" id="senha" th:field="*{senha}"
                 placeholder="Digite a senha do usário">
        </div>
        <div class="mb-3">
          <label for="perfil" class="form-label">Perfil:</label>
          <select name="perfil" class="form-select" id="perfil" th:field="*{perfil}">
            <option th:each="opcao : ${T(br.com.usystem.stockroll.usuario.Perfil).values()}"
                    th:value="${opcao}" th:text="${opcao}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
  </div><!--row-->


</main><!--container-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>