<!DOCTYPE html>
<html lang="pt-br" th:replace = "~{template_base:: layout(~{::title}, ~{::main}, _, _)}">
<head>
	<title>Quantidade Por Local</title>
</head>
<body>
	<main>
		<header class="col-sm-6">				
			<h3 class="m-0"><i class="nav-icon fas fa-balance-scale"></i>&ensp;Quantidade Por Local</h3><br>
	 	</header>				
		<div class="row">
			<div class="col-sm-12 col-md-10 mx-auto">
				<div class="card card-cyan card-outline">
					<div>
					<!-- <div class="card-header"> -->
						<!-- <h5 class="card-title">Quantidade Por Local</h5> -->
						<div class="card-tools">
						</div>
					</div>
					<!-- <div class="card-body table-responsive text-sm"> -->
					<div class="card-body table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<!-- <th scope="col">#</th> -->
									<th scope="col">Local</th>
									<th scope="col">Produto</th>
									<th scope="col" class="text-center">Mínimo</th>
									<th scope="col" class="text-center">Ideal</th>
									<th scope="col" class="text-center">Editar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="qtd : ${quantidades}"> 
									<!-- <td th:text="${qtd.id}">1</td> -->
									<!-- <td th:text="${qtd.local.nome}"></td> -->
									<!-- <td th:text="${qtd.produto.nome}"></td> -->
									<td th:text="${qtd.id.local.nome}"></td>
									<td th:text="${qtd.id.produto.nome}"></td>
									<td th:text="${qtd.minimo}" class="text-center"></td>
									<td th:text="${qtd.ideal}" class="text-center"></td>
                  <!-- <td class="text-center py-0 align-middle">
										<div class="btn-group btn-group-sm">
											<a th:href="@{/quantidade/{id} (id=${qtd.id})}" class="btn btn-outline-warning"><i class="fas fa-pencil-alt"></i></a>
										</div>
									</td> -->
									<td class="text-center py-0 align-middle">
										<div class="btn-group btn-group-sm">
												<a th:href="@{/quantidade/{localId}/{produtoId} (localId=${qtd.id.local.id}, produtoId=${qtd.id.produto.id})}" 
														class="btn btn-outline-warning"><i class="fas fa-pencil-alt"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!--card-->
			</div><!--col-->
		</div><!--row-->
	</main>
</body>
</html>