<!DOCTYPE html>
<html th:replace="~{template_base :: layout (~{::title}, ~{::main}, _, _)}">
<head>
	<title>Detalhe do Local</title>
</head>
<body>
<main>
	<header class="col-sm-6">
    <h3 class="m-0"><i class="nav-icon fas fa-map-marker-alt"></i>&ensp;Detalhes do Local de Armazenagem</h3><br>
  </header>
	<div class="row">
		<div class="col-sm-12 col-md-8 mx-auto">
			<div class="card-tools text-right">
				<a th:href="@{/local}" class="btn btn-sm btn-info">
					<i class="fas fa-list"></i>&nbsp;&nbsp;Listar Locais</a>
			</div>
			<br>
			<div class="card card-cyan card-outline">
				<!-- <div class="card-header">
					<h5 class="card-title">Detalhe do Local</h5>
				</div> -->
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="card-text list-group-item">Nome:&emsp;
							<strong><span th:text="${local.nome}"></span></strong>
						</li>
						<br>
						<li class="list-group-item text-center">
							<a th:href="@{/local/editar/{id} (id=${local.id})}" 
								class="btn btn-warning">Editar</a>
							<a th:href="@{/local/excluir/{id} (id=${local.id})}"
							onclick="return confirm('Deseja realmente excluir esse Local?');"
							class="btn btn-danger">Excluir</a>
						</li>
					</ul>
				</div><!--card-body-->
			</div><!--card-->
		</div><!--col-->
	</div><!--row-->
</main><!--container-->
</body>
</html>