<!DOCTYPE html>
<html th:replace="~{template_base :: layout(~{::title}, ~{::main}, _, _)}">
<head>
    <title>Locais de Armazenagem</title>
</head>
<body>
  <main>
		<header class="col-sm-6">				
			<h3 class="m-0"><i class="nav-icon fas fa-map-marker-alt"></i>&ensp;Locais de Armazenagem</h3><br>
	 	</header>				
		<div class="row">
			<div class="col-sm-12 col-md-8 mx-auto">
					<div class="card-tools text-right">
						<a th:href="@{/local/cadastrar}" class="btn btn-sm btn-info">
								<i class="fas fa-archive"></i>&emsp;Novo Local</a>
					</div>
					<br>
					<div class="card card-cyan card-outline">
						<!-- <div class="card-header">
							<h5 class="card-title">Locais de Armazenagem</h5>
						</div> -->
						<div class="card-body table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nome</th>
										<th scope="col" class="text-center">Detalhes</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="local : ${locais}">
										<th scope="row" th:text="${local.id}"></th>
										<td th:text="${local.nome}"></td>
										<td class="text-center py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a th:href="@{/local/{id} (id=${local.id})}" class="btn btn-info"><i class="fas fa-eye"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div><!--card-body-->
					</div><!--card-->
			</div><!--col-->
		</div><!--row-->
	</main>
</body>
</html>