<!-- Main Sidebar Container -->
<!-- <aside th:fragment="aside" class="main-sidebar sidebar-dark-primary elevation-4"> -->
<!-- <aside th:fragment="aside" class="main-sidebar sidebar-light-primary elevation-2"> -->
<!-- <aside th:fragment="aside" class="main-sidebar sidebar-light-primary elevation-4"> -->
  <aside th:fragment="aside" class="main-sidebar sidebar-light-info elevation-4">
<!-- ========================================= SIDEBAR =============================================== -->
  
  <!-- Brand Logo -->
  <a th:href="@{/}" class="brand-link bg-info">
    <!-- <img th:src="@{/img/logo.png}" alt="StockLog Logo" class="brand-image img-circle elevation-3"> -->
    <img th:src="@{/img/logo.png}" alt="StockLog Logo" class="brand-image elevation-1">
    <span class="brand-text font-weight-light">StockRoll</span>
  </a>

  <!-- Sidebar -->
  <!-- <div class="sidebar"> -->
  <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-transition os-host-scrollbar-horizontal-hidden">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <!-- <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"> -->
      <!-- <ul class="nav nav-pills nav-sidebar flex-column nav-collapse-hide-child" data-widget="treeview" role="menu" data-accordion="false"> -->
      <!-- <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-legacy" data-widget="treeview" role="menu" data-accordion="false"> -->
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-legacy" data-widget="treeview" role="menu" data-accordion="false">
        <br>
        
        <!-- -------- Produtos ---------- -->
        <li class="nav-item">
          <a th:href="@{/produto}" class="nav-link">
            <i class="nav-icon fas fa-barcode"></i>
            <!-- <p>Produtos<i class="fas fa-angle-left right"></i></p> -->
            <p>Produtos</p>
          </a>
          <!-- <ul class="nav nav-treeview text-sm"> -->
          <!-- <ul class="nav nav-treeview"> -->
            <!-- <li class="nav-item">
              <a th:href="@{/produto/cadastrar}" class="nav-link">
                &nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>  -->
            <!-- <li class="nav-item">
              <a th:href="@{/produto}" class="nav-link">
                &nbsp;<i class="fas fa-bars nav-icon"></i>
                <p>Listar</p>
              </a>
            </li> -->
          <!-- </ul> -->
        </li>
         
        <!-- -------- Lotes ---------- -->
        <li class="nav-item">
          <a th:href="@{/lote}" class="nav-link">
            <i class="nav-icon fas fa-cubes"></i>
            <p>Lotes</p>
              <!-- <i class="fas fa-angle-left right"></i> -->
          </a>
          <!-- <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/lote/cadastrar}" class="nav-link">
                &nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/lote}" class="nav-link">
                &nbsp;<i class="fas fa-bars nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul> -->
        </li> 
        
        <!-- -------- Centro de Distribuição ---------- -->
        <!-- <li class="nav-item menu-open"> -->
        <li class="nav-item">
          <!-- <a href="#" class="nav-link active"> -->
          <a href="#" class="nav-link">
            <!-- <i class="nav-icon fas fa-th-large"></i> -->
            <!-- <i class="nav-icon fas fa-box-open"></i> -->
            <i class="nav-icon fas fa-warehouse"></i>
            <p>
              Centro Distribuição
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <!-- <a th:href="@{/movimentacao/cadastrar/entrada-cd}" class="nav-link active"> -->
              <a th:href="@{/movimentacao/cadastrar/entrada-cd}" class="nav-link">
                <!-- <i class="nav-icon fas fa-edit"></i> -->
                &nbsp;<i class="nav-icon fas fa-solid fa-download"></i>
                <p>Registrar Entrada</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/movimentacao/cadastrar/entrada}" class="nav-link">
                &nbsp;<i class="nav-icon fas fa-shipping-fast"></i>
                <p>Transferir Produto</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a th:href="@{/movimentacao/cadastrar/saida-cd}" class="nav-link">
                &nbsp;<i class="nav-icon fas fa-solid fa-upload"></i>
                <p>Registrar Saída</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a th:href="@{/movimentacao}" class="nav-link">
                &nbsp;<i class="fas fa-bars nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li> 
        <br>
        <span class="sidebar-custom"></span>
        <br>

        <!-- -------- Quiosque ---------- -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-store"></i>
              <p>
                Quiosque
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <!-- <li class="nav-item">
                <a th:href="@{/movimentacao/cadastrar/entrada}" class="nav-link">
                  &nbsp;<i class="nav-icon fas fa-shipping-fast"></i>
                  <p>Registrar Entrada</p>
                </a>
              </li> -->
              <li class="nav-item">
                <a th:href="@{/movimentacao/cadastrar/saida}" class="nav-link">
                  &nbsp;<i class="nav-icon fas fa-solid fa-upload"></i>
                  <p>Registrar Saída</p>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a th:href="@{/movimentacao}" class="nav-link">
                  &nbsp;<i class="fas fa-exchange-alt nav-icon"></i>
                  <p>Registros</p>
                </a>
              </li> -->
            </ul>
          </li> 
          <br>
          <span class="sidebar-custom"></span>
          <br>
        
        <!-- -------- Estoque ---------- -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-database"></i>
            <p>
              Estoque
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!-- <li class="nav-item">
              <a th:href="@{/estoque/cadastrar}" class="nav-link">
                &nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a th:href="@{/estoque}" class="nav-link">
                &nbsp;<i class="fas fa-bars nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li> 
        
        <!-- -------- Motivos ---------- -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <!-- <i class="nav-icon fas fa-barcode"></i> -->
            <!-- <i class="nav-icon fas fa-list"></i> -->
            <!-- <i class="nav-icon fas fa-briefcase"></i> -->
            <!-- <i class="nav-icon fas fa-cog"></i> -->
            <!-- <i class="nav-icon fas fa-cogs"></i> -->
            <!-- <i class="nav-icon fas fa-cube"></i> -->
            <!-- <i class="nav-icon fas fa-th-large"></i> -->
            <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
            <!-- <i class="nav-icon fas fa-tasks"></i> -->
            <!-- <i class="nav-icon fas fa-exchange-alt"></i> -->
            <!-- <i class="nav-icon fas fa-th-large"></i> -->
            <!-- <i class="nav-icon fas fa-edit nav-icon"></i> -->
            <!-- <i class="nav-icon fas fa-dolly"></i> -->
            <!-- <i class="nav-icon fas fa-project-diagram"></i> -->
            <!-- <i class="nav-icon fas fa-archive"></i> -->
            <!-- <i class="nav-icon fas fa-sign-out-alt"></i> -->
            <!-- <i class="nav-icon fas fa-sliders-h"></i> -->
            <!-- <i class="nav-icon fas fa-door-open"></i> -->
            <!-- <i class="nav-icon fas fa-arrow-alt-circle-right"></i> -->
            <i class="nav-icon fas fa-exclamation-circle"></i>
            <p>
              Motivos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/motivo/cadastrar}" class="nav-link">
                &nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/motivo}" class="nav-link">
                &nbsp;<i class="fas fa-bars nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li> 
        
        <!-- -------- Locais ---------- -->
        <li class="nav-item">
          <a href="#" class="nav-link">
          <i class="nav-icon fas fa-map-marker-alt"></i>
            <p>
              Locais
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/local/cadastrar}" class="nav-link">
                &nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/local}" class="nav-link">
                &nbsp;<i class="fas fa-bars nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li> 

        <!-- -------- Usuários ---------- -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <!-- <i class="nav-icon fas fa-user-tie"></i> -->
            <i class="nav-icon fas fa-user"></i>
            <p>
              Usuários
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/usuario/cadastrar}" class="nav-link">
                &nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/usuario}" class="nav-link">
                &nbsp;
                <!-- <i class="fas fa-list nav-icon"></i> -->
                <i class="fas fa-bars nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li> 

        <!-- -------- Quantidade Por Local ---------- -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-balance-scale"></i>
            <p>
              Quantidade
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!-- <li class="nav-item">
              <a th:href="@{/quantidade/cadastrar}" class="nav-link">
                <i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a th:href="@{/quantidade}" class="nav-link">
                <!-- <i class="fas fa-table nav-icon"></i> -->
                <i class="fas fa-bars nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>