<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html th:replace="~{template_base :: layout (~{::title}, ~{::main}, ~{::styles}, ~{::scripts})}" lang="pt-br">
<head>
	<th:block th:fragment="styles">
	<style>
					span i {
						transition: transform 0.5s ease;
					}
					span i:hover {
							transform: scale(1.3);
					}
	</style>
	<style type="text/css">
				/* Chart.js */
			@keyframes chartjs-render-animation {
				from {
						opacity: 0.99;
				}
				to {
						opacity: 1;
				}
			}
			.chartjs-render-monitor {
				animation: chartjs-render-animation 1ms;
			}
			.chartjs-size-monitor,
			.chartjs-size-monitor-expand,
			.chartjs-size-monitor-shrink {
				position: absolute;
				direction: ltr;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;
				pointer-events: none;
				visibility: hidden;
				z-index: -1;
			}
			.chartjs-size-monitor-expand > div {
				position: absolute;
				width: 1000000px;
				height: 1000000px;
				left: 0;
				top: 0;
			}
			.chartjs-size-monitor-shrink > div {
				position: absolute;
				width: 200%;
				height: 200%;
				left: 0;
				top: 0;
			}
	</style>
	</th:block>
	<title>Dashboard</title>
</head>
<body>
	<main>
		<div class="container-fluid">

		<!-- Card Cd-Principal -->
			<div class="row">					
					<div class="col-lg-3 col-6">
						<div class="small-box bg-info">
								<div class="inner">
									<h3 th:text="${totalEstoque}">0</h3>
									<p>Produtos em Estoque</p>
								</div>
								<div class="icon">
									<!-- <i class="ion ion-bag"></i> -->
									<i class="nav-icon fas fa-cubes"></i>
								</div>
								<a th:href="@{/estoque}" class="small-box-footer">Mais Info 
									<i class="fas fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<div class="col-lg-3 col-6">
						<div class="small-box bg-success">
								<div class="inner">
									<!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
									<h3 th:text="${totalSaidas}">53</h3>
									<p>Total de Saídas</p>
								</div>
								<div class="icon">
									<i class="ion ion-stats-bars"></i>
								</div>
								<a th:href="@{/#}" class="small-box-footer">Mais info 
									<i class="fas fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<div class="col-lg-3 col-6">
						<div class="small-box bg-warning">
								<div class="inner">
									<!-- <h3 th:text="${'R$ ' + valorEstoque}">44</h3> -->
									<h3 th:text="${#numbers.formatCurrency(valorEstoque)}">44</h3>
									<p>Valor Total</p>
								</div>
								<div class="icon">
									<!-- <i class="ion ion-person-add"></i> -->
									<i class="ion ion-cash"></i>
								</div>
								<a th:href="@{/estoque}" class="small-box-footer">Mais info 
									<i class="fas fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<div class="col-lg-3 col-6">
						<div class="small-box bg-danger">
								<div class="inner">
									<h3 th:text="${totalGeralDescarte}">65</h3>
									<p>Desperdício</p>
								</div>
								<div class="icon">
									<i class="ion ion-pie-graph"></i>
								</div>
								<a th:href="@{/#}" class="small-box-footer">Mais info 
									<i class="fas fa-arrow-circle-right"></i></a>
						</div>
					</div>
			</div><!--row-->
		<!-- End Card Cd-Principal -->
						
		<hr>
			 
		<!-- Donut -->
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<div class="card card-info">
					<!-- <div class="card-header">
						<h3 class="card-title">Donut Chart</h3>
						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
							<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
						</div>
					</div> -->
					<div class="card-body">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand"><div class=""></div></div>
							<div class="chartjs-size-monitor-shrink"><div class=""></div></div>
						</div>
						<canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 429px;" 
						width="429" height="250" class="chartjs-render-monitor"></canvas>
					</div>	
				</div>
			</div>
			<!-- End Donut -->


				<!-- Pizza -->
				<div class="col-lg-6 mx-auto">
					<div class="card card-info">
						<!-- <div class="card-header">
							<h3 class="card-title">Pie Chart</h3>
							<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
									<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
							</div>
						</div> -->
						<div class="card-body">
							<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand"><div class=""></div></div>
									<div class="chartjs-size-monitor-shrink"><div class=""></div></div>
							</div>
							<canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 456px;" 
							width="456" height="250" class="chartjs-render-monitor"></canvas>
						</div>
					</div>
				</div>
		</div><!--row-->
		<!-- End Pizza -->

		<hr>

		<!-- Cards dos Quiosques -->
		<div class="row">
		<div class="col-lg-12 mx-auto">
			<div th:each="quiosque : ${quiosques}">
				<h5 class="mb-2 mt-1"><strong th:text="${quiosque.nome}">Tatuapé</strong></h5>	
				<div class="row">
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-info"><i class="fas fa-cubes"></i></span>
								<div class="info-box-content">
									<span class="info-box-text">Produtos em Estoque</span>
									<span class="info-box-number ml-2"><h5><strong th:text="${quiosque.totalEstoque}">80</strong></h5></span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-success"><i class="fas fa-chart-line"></i></span>
								<div class="info-box-content">
									<span class="info-box-text">Saídas</span>
									<span class="info-box-number ml-2"><h5><strong th:text="${quiosque.totalSaida}">410</strong></h5></span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
								<span class="info-box-icon bg-warning"><i class="far fa-flag"></i></span>
								<div class="info-box-content">
									<span class="info-box-text">Alertas</span>
									<span class="info-box-number ml-2"><h5><strong th:text="${quiosque.totalAlerta}">0</strong></h5></span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-12">
							<div class="info-box">
							<span class="info-box-icon bg-danger"><i class="far fa-trash-alt"></i></span>
								<div class="info-box-content">
									<span class="info-box-text">Desperdício</span>
									<span class="info-box-number ml-2"><h5><strong th:text="${quiosque.totalDescarte == null ? 0 : quiosque.totalDescarte}">0</strong></h5></span>
								</div>
							</div>
						</div>						
				</div><!--row-->
				<hr>
			</div><!--foreach-->
		</div><!--col-->
		</div><!--row-->
		<!--End Cards dos Quiosques -->


	
		<!-- Vencimento -->
		<!-- <div class="row">
			<div class="col-md-12 col-12">
			<div class="card">
				<div class="card-header">
						<h3 class="card-title"><strong>Produtos próximos do Vencimento</strong></h3>
				</div>
				<div class="card-body p-0">
						<table class="table table-sm">
							<thead>
									<tr>
										<th style="width: 10px">#</th>
										<th>Produto</th>
										<th>Progresso</th>
										<th style="width: 40px">Taxa</th>
									</tr>
							</thead>
							<tbody>
									<tr>
										<td>1.</td>
										<td>Update software</td>
										<td>
												<div class="progress progress-xs">
													<div class="progress-bar progress-bar-danger" style="width: 55%"></div>
												</div>
										</td>
										<td><span class="badge bg-danger">55%</span></td>
									</tr>
									<tr>
										<td>2.</td>
										<td>Clean database</td>
										<td>
												<div class="progress progress-xs">
													<div class="progress-bar bg-warning" style="width: 70%"></div>
												</div>
										</td>
										<td><span class="badge bg-warning">70%</span></td>
									</tr>
									<tr>
										<td>3.</td>
										<td>Cron job running</td>
										<td>
												<div class="progress progress-xs progress-striped active">
													<div class="progress-bar bg-primary" style="width: 30%"></div>
												</div>
										</td>
										<td><span class="badge bg-primary">30%</span></td>
									</tr>
									<tr>
										<td>4.</td>
										<td>Fix and squish bugs</td>
										<td>
												<div class="progress progress-xs progress-striped active">
													<div class="progress-bar bg-success" style="width: 90%"></div>
												</div>
										</td>
										<td><span class="badge bg-success">90%</span></td>
									</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
		</div> -->
		<!--row-->
		<!--End Vencimento -->


		</div><!--container-fluid-->
	</main>
	<th:block th:fragment="scripts">
		<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
		<script th:src="@{/js/dashboard.js}" src=""></script>

		<script th:inline="javascript">
			//-------------
			//- PIE CHART -
			//-------------
			// Get context with jQuery - using jQuery's .get() method.
			var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
			// var pieChartCanvas = document.getElementById('pieChart');
			var pieData = {
				labels: [[${pieChartMap.keySet()}]],
				datasets: [{
												data: [[${pieChartMap.values()}]],
						backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
					}]
			}
			var pieOptions = {
				maintainAspectRatio : false,
				responsive : true,
			}
			//Create pie or douhnut chart
			// You can switch between pie and douhnut using the method below.
			new Chart(pieChartCanvas, {
				type: 'pie',
				data: pieData,
				options: pieOptions
			})


			//-------------    
			//- DONUT CHART -
			//-------------
			var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
			// var donutChartCanvas = document.getElementById('donutChart');
			var donutData = {
				labels: [[${donutChartMap.keySet()}]],
				datasets: [{
						data: [[${donutChartMap.values()}]],
						backgroundColor : [ '#00c0ef', '#3c8dbc', '#f56954', '#f39c12',   '#00a65a', '#d2d6de'],
					}]
				// datasets: [{
				// 		data: [700,500,400,600,300,100],
				// 		backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
				// 	}]
			}
			var donutOptions = {
				maintainAspectRatio : false,
				responsive : true,
			}
			//Create pie or douhnut chart
			// You can switch between pie and douhnut using the method below.
			new Chart(donutChartCanvas, {
				type: 'doughnut',
				data: donutData,
				options: donutOptions
			})

		</script>



		<script>
				$(function () {
						$('[data-toggle="popover"]').popover();
				});
		</script>
	</th:block>
</body>
</html>
