<!DOCTYPE html>
<html th:replace="~{template_base :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">
<head>
    <title>Home</title>
</head>
<body>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <h1>Bem vindo ao StockRoll</h1>
                <p>Seu controle de estoque</p>
            </div>
        </div>

        
    </main>


    <th:block th:fragment="scripts">
        <script>
          $(function () {
            $('[data-toggle="popover"]').popover()
          })
        </script>
    </th:block>
</body>
</html>