<!DOCTYPE html>
<html th:replace="~{layout_base :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">
<head>
    <title>Home</title>
</head>
<body>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <h1>Bem vindo ao StockRoll</h1>
                <p>Seu controle de estoque</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-info">
                  <div class="card-header">
                     <h3 class="card-title">Login</h3>
                  </div>
                  <form class="form-horizontal">
                     <div class="card-body">
                        <div class="mb-3">
                              <label for="nome" class="form-label">Nome:</label>
                              <input type="nome" class="form-control" id="nome" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                              <label for="senha" class="form-label">Senha:</label>
                              <input type="password" class="form-control" id="senha">
                        </div>
                        <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Lembrar</label>
                        </div>
                     </div>
                     <div class="card-footer">
                        <button type="submit" class="btn btn-info">Enviar</button>
                     </div>
                  </form>
                </div>
            </div>
        </div><!--row-->
    </main>


    <th:block th:fragment="scripts">
        <script>
          $(function () {
            $('[data-toggle="popover"]').popover()
          })
        </script>
    </th:block>
</body>
</html>