<!DOCTYPE html>
<html th:replace="~{template_base :: layout(~{::title}, ~{::main}, _, _)}">
<head>
	<title>Sobre</title>
</head>
<body>
	<main>
    <header class="col-sm-12">				
			<h3 class="m-0"><i class="nav-icon fas fa-address-card"></i>&ensp;Sobre</h3><br>
		</header>
		<div class="row">
			<div class="col-sm-12 col-md-10 mx-auto">
			<article>
				<p><strong>Funcionalidades:</strong></p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo similique maxime dolorum? 
						Aut ex fuga minus nesciunt quis nisi suscipit recusandae nostrum quam! Eaque iste ullam reiciendis omnis impedit cum!</p>				
			</article>		
			<article>
				<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-legacy" data-widget="treeview" role="menu" data-accordion="false"><br>
					<!-- -------- Produtos ---------- -->
					<li>
						<span>
							<i class="nav-icon fas fa-barcode"></i>Produtos
						</span>
						<!-- <ul class="nav nav-treeview text-sm"> -->
						<!-- <ul class="nav nav-treeview"> -->
							<!-- <li>
								<span "@{/produto/cadastrar}">
									&nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
									<p>Cadastrar</p>
								</span>
							</li>  -->
							<!-- <li>
								<span "@{/produto}">
									&nbsp;<i class="fas fa-bars nav-icon"></i>
									<p>Listar</p>
								</span>
							</li> -->
						<!-- </ul> -->
					</li>
					
					<!-- -------- Lotes ---------- -->
					<li>
						<span>
							<i class="nav-icon fas fa-cubes"></i>
							<p>Lotes</p>
						</span>
						<!-- <ul class="nav nav-treeview">
							<li>
								<span "@{/lote/cadastrar}">
									&nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
									<p>Cadastrar</p>
								</span>
							</li>
							<li>
								<span>
									&nbsp;<i class="fas fa-bars nav-icon"></i>
									<p>Listar</p>
								</span>
							</li>
						</ul> -->
					</li> 
					
					<!-- -------- Centro de Distribuição ---------- -->
					<!-- <li class="nav-item menu-open"> -->
					<li>
						<!-- <span  class="nav-link active"> -->
						<span >
							<!-- <i class="nav-icon fas fa-th-large"></i> -->
							<!-- <i class="nav-icon fas fa-box-open"></i> -->
							<i class="nav-icon fas fa-warehouse"></i>
							<p>
								Centro Distribuição
								
							</p>
						</span>
						<ul class="nav nav-treeview">
							<li>
								<!-- <span "@{/movimentacao/cadastrar/entrada-cd}" class="nav-link active"> -->
								<span>
									<!-- <i class="nav-icon fas fa-edit"></i> -->
									&nbsp;<i class="nav-icon fas fa-solid fa-download"></i>
									<p>Registrar Entrada</p>
								</span>
							</li>
							<li>
								<span>
									&nbsp;<i class="nav-icon fas fa-shipping-fast"></i>
									<p>Transferir Produto</p>
								</span>
							</li>
							<!-- <li>
								<span >
									&nbsp;<i class="nav-icon fas fa-solid fa-upload"></i>
									<p>Registrar Saída</p>
								</span>
							</li> -->
							<li>
								<span>
									&nbsp;<i class="fas fa-bars nav-icon"></i>
									<p>Listar</p>
								</span>
							</li>
						</ul>
					</li> 

					<!-- -------- Quiosque ---------- -->
						<li>
							<span >
								<i class="nav-icon fas fa-store"></i>
								<p>
									Quiosque
									
								</p>
							</span>
							<ul class="nav nav-treeview">
								<!-- <li>
									<span>
										&nbsp;<i class="nav-icon fas fa-shipping-fast"></i>
										<p>Registrar Entrada</p>
									</span>
								</li> -->
								<li>
									<span>
										&nbsp;<i class="nav-icon fas fa-solid fa-upload"></i>
										<p>Registrar Saída</p>
									</span>
								</li>
								<!-- <li>
									<span "@{/movimentacao}">
										&nbsp;<i class="fas fa-exchange-alt nav-icon"></i>
										<p>Registros</p>
									</span>
								</li> -->
							</ul>
						</li> 
					
					<!-- -------- Estoque ---------- -->
					<li>
						<span >
							<i class="nav-icon fas fa-database"></i>
							<p>
								Estoque
								
							</p>
						</span>
						<ul class="nav nav-treeview">
							<!-- <li>
								<span "@{/estoque/cadastrar}">
									&nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
									<p>Cadastrar</p>
								</span>
							</li> -->
							<li>
								<span>
									&nbsp;<i class="fas fa-bars nav-icon"></i>
									<p>Listar</p>
								</span>
							</li>
						</ul>
					</li> 
					
					<!-- -------- Motivos ---------- -->
					<li>
						<span >
							<i class="nav-icon fas fa-exclamation-circle"></i>
							<p>
								Motivos
								
							</p>
						</span>
						<ul class="nav nav-treeview">
							<li>
								<span >
									&nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
									<p>Cadastrar</p>
								</span>
							</li>
							<li>
								<span>
									&nbsp;<i class="fas fa-bars nav-icon"></i>
									<p>Listar</p>
								</span>
							</li>
						</ul>
					</li> 
					
					<!-- -------- Locais ---------- -->
					<li>
						<span >
						<i class="nav-icon fas fa-map-marker-alt"></i>
							<p>
								Locais
								
							</p>
						</span>
						<ul class="nav nav-treeview">
							<li>
								<span >
									&nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
									<p>Cadastrar</p>
								</span>
							</li>
							<li>
								<span>
									&nbsp;<i class="fas fa-bars nav-icon"></i>
									<p>Listar</p>
								</span>
							</li>
						</ul>
					</li> 

					<!-- -------- Usuários ---------- -->
					<li>
						<span >
							<!-- <i class="nav-icon fas fa-user-tie"></i> -->
							<i class="nav-icon fas fa-user"></i>
							<p>
								Usuários
								
							</p>
						</span>
						<ul class="nav nav-treeview">
							<li>
								<span >
									&nbsp;<i class="nav-icon fas fa-edit nav-icon"></i>
									<p>Cadastrar</p>
								</span>
							</li>
							<li>
								<span >
									&nbsp;
									<!-- <i class="fas fa-list nav-icon"></i> -->
									<i class="fas fa-bars nav-icon"></i>
									<p>Listar</p>
								</span>
							</li>
						</ul>
					</li> 

					<!-- -------- Quantidade Por Local ---------- -->
					<li>
						<span >
							<i class="nav-icon fas fa-balance-scale"></i>
							<p>
								Quantidade
								
							</p>
						</span>
						<ul class="nav nav-treeview">
							<!-- <li>
								<span "@{/quantidade/cadastrar}">
									<i class="nav-icon fas fa-edit nav-icon"></i>
									<p>Cadastrar</p>
								</span>
							</li> -->
							<li>
								<span>
									<!-- <i class="fas fa-table nav-icon"></i> -->
									<i class="fas fa-bars nav-icon"></i>
									<p>Listar</p>
								</span>
							</li>
						</ul>
					</li>
				</ul>
			</article>
	
				<p><strong>Suporte:</strong></p>
				<span>
					<strong>
						StockRoll &copy; <span th:text="${#temporals.year( {#temporals.createNow()} )}">2024</span>
						<a target="_blank" rel="site da empresa usystem" href="https://www.usystem.com.br/">Usystem</a>.
					</strong>
					All rights reserved.
				</span>
				<div class="float-right d-none d-sm-inline-block">
					<b>Version</b> 0.0.1 &ensp;<i class="fab fa-java"></i>
				</div><br><br><br>					
			</div><!--col-->
		</div><!--row-->
	</main>
</body>
</html>