<!DOCTYPE html>
<html th:replace="~{template_base :: layout (~{::title}, ~{::main}, _, _)}">
<head>
  <title>Motivos de Lançamento</title>
</head>
<body>
<main>
  <header class="col-sm-6">				
    <h3 class="m-0"><i class="nav-icon fas fa-exclamation-circle"></i>&ensp;
      [[${motivo.id == null ? 'Cadastrar Novo' : 'Editar'}]] Motivo</h3><br>
  </header>
  <div class="row">
    <div class="col-sm-6 col-md-8 mx-auto">
      <div class="card card-cyan card-outline">
          <form method="post" th:object="${motivo}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">          
            <div class="card-body">
                <div class="form-group mb-3">
                  <label for="nome" class="form-label">Nome do Motivo:</label>
                  <input type="text" class="form-control" id="nome" th:field="*{nome}"
                        placeholder="Digite o nome do motivo" autofocus="true" 
                        title="Digite o nome do motivo de Saída ou Entrada" required>
                </div>
                <br>
              </div><!--card-body-->
              <div class="card-footer text-right">
                <button type="submit" class="btn btn-success">Salvar</button>
							  <!-- <a th:href="@{/motivo}" type="submit" class="btn btn-default float-left">Voltar</a> -->
                <a onclick="history.back()" type="button" class="btn btn-default float-left">Voltar</a>
              </div><!--card-footer-->
            </form>
      </div><!--card-->
    </div><!--col-->
  </div><!--row-->
</main>
</body>
</html>