<!DOCTYPE html>
<html th:replace="~{template_base :: layout(~{::title}, ~{::main}, _, _)}">
<head>
    <title>Motivos de Lançamento</title>
</head>
<body>
  <main>
	  <header class="col-sm-6">				
			<h3 class="m-0"><i class="nav-icon fas fa-exclamation-circle"></i>&ensp;Motivos de Lançamento</h3><br>
		</header>
		<div class="row">
			<div class="col-sm-12 col-md-8 mx-auto">
					<div class="card-tools text-right">
						<a th:href="@{/motivo/cadastrar}" class="btn btn-sm btn-info">
							<!-- <i class="fas fa-sign-out-alt"></i>&emsp;Novo Motivo</a> -->
								<i class="nav-icon fas fa-exclamation-circle"></i>&emsp;Novo Motivo</a>
					</div>
					<br>
					<div class="card card-cyan card-outline">
						<!-- <div class="card-header">
							<h5 class="card-title">Motivos de Lançamento</h5>
						</div> -->
						<div class="card-body table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nome</th>
										<th scope="col" class="text-center">Detalhes</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="motivo : ${motivos}">
										<th scope="row" th:text="${motivo.id}"></th>
										<td th:text="${motivo.nome}"></td>
										<td class="text-center py-0 align-middle">
											<div class="btn-group btn-group-sm">
												<a th:href="@{/motivo/{id} (id=${motivo.id})}" class="btn btn-outline-info"><i class="fas fa-eye"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div><!--card-body-->
					</div><!--card-->
			</div><!--col-->
		</div><!--row-->
	</main>
</body>
</html>