<!DOCTYPE html>
<html lang="pt-br" th:replace = "~{template_base:: layout(~{::title}, ~{::main}, _, ~{::scripts})}">
<head>
	<title>Movimentações</title>
</head>
<body>
	<main>
		<header class="col-sm-6">				
			<h3 class="m-0"><i class="nav-icon fas fa-warehouse"></i>&ensp;Movimentações</h3>
	 	</header>
		<div class="row">
			<div class="col-sm-12 col-md-12 mx-auto">
				<div class="card-tools text-right">
						<!-- <form th:action="@{/movimentacao}" method="get">
							<div class="form-group mb-3 btn-group btn-xs">			
								<select class="custom-select rounded-0" name="local" id="local" title="Local de Armazenagem">
									<option th:each="local : ${locais}" th:text="${local.nome}" th:value="${local.id}"></option>
								</select>
								<div class="input-group-append">
									<button class="btn btn-info btn-flat" type="submit">OK</button>
								</div>
							</div>
						</form> -->
						<div class="form-group mb-3 btn-group btn-xs text-sm">			
							<select class="custom-select rounded-0" name="local" id="local" title="Local de Armazenagem">
								<option th:each="local : ${locais}" th:text="${local.nome}" 
												th:value="@{/movimentacao?local={id} (id=${local.id})}"  
												th:attr="selected=${msg == local.id} ? 'selected'"></option>
							</select>
							<div class="input-group-append">
								<button class="btn btn-info btn-flat" type="submit">OK</button>
							</div>
						</div>
				</div>
				<div class="card card-cyan card-outline">				
					<!-- <div class="card-body table-responsive text-sm"> -->
					<div class="card-body table-responsive text-sm">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Data</th>
									<!-- <th></th> -->
									<th scope="col">Movimentação</th>
									<th scope="col">Local</th>
									<th scope="col">Produto</th>
									<th scope="col" class="text-center">Quantidade</th>
									<!-- <th scope="col">Preço Unit.</th> -->
									<!-- <th scope="col">Total</th> -->
									<!-- <th scope="col">Motivo</th> -->
									<!-- <th scope="col">Usuário</th> -->
									<th scope="col" class="text-center">Detalhe</th>
								</tr>
							</thead>							
							<tbody>
								<tr th:each="mov : ${movimentacao}">
									<td th:text="${mov.id}">1</td>
									<td th:text="${#temporals.format(mov.dataMovimentacao, 'dd-MM-yyyy HH:mm')}"></td>
									<!-- <td><i class="fas fa-dollar-sign fa-chevron-up" th:if="${mov.tipoMovimentacao == 'Saida'}"></i></td> -->
									<td th:text="${mov.tipoMovimentacao}"></td>
									<td th:text="${mov.local.nome}"></td>
									<td th:text="${mov.lote.produto.nome}"></td>
									<td th:text="${mov.quantidade}" class="text-center"></td>
									<!-- <td th:text="${#numbers.formatCurrency(mov.valorUnitario)}"></td> -->
									<!-- <td th:text="${'R$ ' + #aggregates.sum({mov.quantidade * mov.valorUnitario})}"></td> -->
									<!-- <td th:text="${#numbers.formatCurrency( {#aggregates.sum({mov.quantidade * mov.valorUnitario})} )}"></td> -->
									<!-- <td th:text="${mov.motivo.nome}"></td> -->
									<!-- <td th:text="${#strings.abbreviate(mov.usuario.nome, 12)}"></td> -->
									<td class="text-center py-0 align-middle">
										<div class="btn-group btn-group-sm">
											<a th:href="@{/movimentacao/{id} (id=${mov.id})}" class="btn btn-outline-info" 
												 title="Ver detalhes desta Movimentação"><i class="fas fa-eye"></i></a>
											<!-- <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a> -->
										</div>
									</td>
								</tr>								
							</tbody>							
						</table>
						<div th:if="${#arrays.isEmpty(movimentacao)}">
							<h5 class="text-center mt-4">Sem Movimentação!</h5>
						</div><!--if-->
					</div>
				</div><!--card-->
			</div><!--col-->
		</div><!--row-->
	</main>
	<th:block th:fragment="scripts">
		<script>
				const selectEl = document.getElementById('local');
				selectEl.addEventListener('change', function() {
						const selectedUrl = this.value;
						if (selectedUrl) {
								window.location.href = selectedUrl;
						}
				});
		</script>
	</th:block>
</body>
</html>