<!DOCTYPE html>
<html lang="pt-br" th:replace = "~{template_base:: layout(~{::title}, ~{::main}, _, _)}">
<head>
	<title>Movimentação de Estoque</title>
</head>
<body>
	<main>
		<div class="row">
			<div class="col-sm-12 col-md-12 mx-auto">
				<div class="card card-cyan card-outline">
					<div>
					<!-- <div class="card-header"> -->
						<!-- <h5 class="card-title">Movimentação de Estoque</h5> -->
						<div class="card-tools">
						</div>
					</div>
					<!-- <div class="card-body table-responsive"> -->
					<div class="card-body table-responsive text-sm">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Data</th>
									<th scope="col">Movimentação</th>
									<th scope="col">Local</th>
									<th scope="col">Produto</th>
									<th scope="col">Quantidade</th>
									<th scope="col">Preço Unit.</th>
									<!-- <th scope="col">Total</th> -->
									<!-- <th scope="col">Motivo</th> -->
									<!-- <th scope="col">Usuário</th> -->
									<th scope="col" class="text-center">Detalhe</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="mov : ${movimentacao}">
									<td th:text="${mov.id}">1</td>
									<td th:text="${#temporals.format(mov.dataMovimentacao, 'dd-MM-yyyy')}"></td>
									<td th:text="${mov.tipoMovimentacao}"></td>
									<td th:text="${mov.local.nome}"></td>
									<td th:text="${mov.lote.produto.nome}"></td>
									<td th:text="${mov.quantidade}"></td>
									<td th:text="${#numbers.formatCurrency(mov.valorUnitario)}"></td>
									<!-- <td th:text="${'R$ ' + #aggregates.sum({mov.quantidade * mov.valorUnitario})}"></td> -->
									<!-- <td th:text="${#numbers.formatCurrency( {#aggregates.sum({mov.quantidade * mov.valorUnitario})} )}"></td> -->
									<!-- <td th:text="${mov.motivoSaida.nome}"></td> -->
									<!-- <td th:text="${#strings.abbreviate(mov.usuario.nome, 12)}"></td> -->
									<td class="text-center py-0 align-middle">
										<div class="btn-group btn-group-sm">
											<a th:href="@{/movimentacao/{id} (id=${mov.id})}" class="btn btn-info"><i class="fas fa-eye"></i></a>
											<!-- <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a> -->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><!--card-->
			</div><!--col-->
		</div><!--row-->
	</main>
</body>
</html>