<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::main})}">
<main class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h1>Detalhes do Produto</h1>
        </div>
    </div><!--row-->
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header" th:text="${produto.nomeProduto}"></h5>
                <div class="card-body">
                    <p class="card-text">Código de Barras:
                        <strong><span th:text="${produto.codigoBarra}"></span></strong>
                    </p>
                    <p class="card-text">Quantidade em Estoque:
                        <strong><span th:text="${produto.qtdAtualEstoque}"></span></strong>
                    </p>
                    <p class="card-text">Quantidade Ideal:
                        <strong><span th:text="${produto.qtdIdealEstoque}"></span></strong>
                    </p>
                    <p class="card-text">Quantidade Mínima:
                        <strong><span th:text="${produto.qtdMinEstoque}"></span></strong>
                    </p>
                    <br>
                    <p>
                        <a th:href="@{/produto/{id}/editar (id=${produto.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <a th:href="@{/produto/{id}/excluir (id=${produto.id})}"
                           onclick="return confirm('Deseja realmente excluir esse produto?');"
                           class="btn btn-danger btn-sm">Excluir</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!--row-->
</main><!--container-->
</body>
</html>