<!DOCTYPE html>
<html th:replace="~{template_base :: layout (~{::title}, ~{::main}, _, _)}">
<head>
    <title>Detalhes do Produto</title>
</head>
<body>
<main>
		<header class="col-sm-12">				
			<h3 class="m-0"><i class="nav-icon fas fa-barcode"></i>&ensp;Detalhes do Produto</h3><br>
		</header>			
		<div class="row">
				<div class="col-sm-12 col-md-8 mx-auto">
						<div class="card-tools text-right">
							<!-- <a th:href="@{/produto}" class="btn btn-block btn-sm btn-info"> -->
								<a th:href="@{/produto}" class="btn btn-sm btn-info">
								<i class="fas fa-list"></i>&nbsp;&nbsp;Listar Produtos</a>
						</div>
						<br>
						<div class="card card-cyan card-outline">
									<!-- <div class="card-header">
										<h5 class="card-title">Detalhes do Produto</h5>										
									</div> -->
									<div class="card-body">
										<ul class="list-group list-group-flush">
												<li class="card-text list-group-item">Nome do Produto:&nbsp;&nbsp;
													<strong><span th:text="${produto.nome}"></span></strong>
												</li>
												<li class="card-text list-group-item">Código de Barras:&nbsp;&nbsp;
													<strong><span th:text="${produto.codigoBarra}"></span></strong>
												</li>
												<!-- <li class="card-text list-group-item">Quantidade em Estoque:&nbsp;&nbsp;
													<strong><span th:text="${produto.qtdAtualEstoque}"></span></strong>
												</li>
												<li class="card-text list-group-item">Valor Unitário:&nbsp;&nbsp;
													<strong><span th:text="${produto.valorUnitario}"></span></strong>
												</li>
												<li class="card-text list-group-item">Quantidade Ideal:&nbsp;&nbsp;
													<strong><span th:text="${produto.qtdIdealEstoque}"></span></strong>
												</li>
												<li class="card-text list-group-item">Quantidade Mínima:&nbsp;&nbsp;
													<strong><span th:text="${produto.qtdMinEstoque}"></span></strong>
												</li> -->
												<br>
												<li class="list-group-item text-center">
														<a th:href="@{/produto/editar/{id} (id=${produto.id})}" class="btn btn-warning btn-sm">Editar</a>
														<a th:href="@{/produto/excluir/{id} (id=${produto.id})}"
															onclick="return confirm('Deseja realmente excluir esse produto?');"
															class="btn btn-danger btn-sm">Excluir</a>
												</li>
										</ul>
								</div><!--card-body-->
						</div><!--card-->
				</div><!--col-->
		</div><!--row-->
</main>
</body>
</html>