<!DOCTYPE html><!--esse-aparece-->
<html th:replace="~{template_base :: layout(~{::title}, ~{::main}, _, _)}">
<head>
  <title>Lista de Produtos</title>
</head>
<body>
<!-- <main class="container"> -->
<main>
  <div class="row">
      <div class="col-sm-12">
				<div class="card card-cyan">
					<div class="card-header">
						<div class="card-title">Lista de Produtos</div>
            <div class="card-tools">
							<!-- <a th:href="@{/produto/cadastrar}" class="btn btn-sm btn-dark">Novo Produto</a> -->
							  <a th:href="@{/produto/cadastrar}" class="btn btn-block btn-sm btn-dark">
                  <i class="fas fa-barcode"></i> &nbsp; Novo Produto</a>
						</div>
          </div>
					<div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Produtos</th>
                  <th scope="col">Cód. Barra</th>
                  <th scope="col">Estoque</th>
                  <th scope="col">Ideal</th>
                  <th scope="col">Mínimo</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="produto : ${produtos}">
                  <th scope="row" th:text="${produto.id}"></th>
                  <td>
                      <a th:href="@{/produto/{id} (id=${produto.id}) }" th:text="${produto.nomeProduto}"></a>
                  </td>
                  <td th:text="${produto.codigoBarra}"></td>
                  <td th:text="${produto.qtdAtualEstoque}"></td>
                  <td th:text="${produto.qtdIdealEstoque}"></td>
                  <td th:text="${produto.qtdMinEstoque}"></td>
                </tr>
              </tbody>
            </table>
        </div><!--card-body-->
      </div><!--card-->
    </div><!--col-->
  </div><!--row-->
</main>
</body>
</html>